<div id="success-up" class="areabox">
    <div class="area left_green"></div>
</div>

<div class="Q"></div>

<div class="header_title">現在身分為【<%= level %>】<br>
<%= username %></div>

<div class="Q"></div>

<div id="success-down" class="areabox">
    <div class="area right_green success-offset"></div>
</div>

<%- include navbar %> 