<% layout('layout') %>
<div class="index">
    <div class="login">
        <div class="header"><%= process.env.Web_Title %> 登入</div>
        <div class="infos">
            <form method="post" action="/login">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="field">
                    <label for="account"><span class="material-icons">person</span></label>
                    <input class="textfield" autocomplete="true" placeholder="使用者" id="account" name="account" type="text" />
                </div>
                <div class="field">
                    <label for="password"><span class="material-icons">password</span></label>
                    <input class="textfield" autocomplete="true" placeholder="密碼" id="password" name="password" type="password" />
                </div>
                <div class="btn">
                    <label for="submit"><span class="material-icons">login</span></label>
                    <input id="submit" type="submit" value="登入" />
                </div>
            </form>
        </div>
    </div>
</div>