<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= process.env.Web_Title %></title>
        <script type="text/javascript">
        function Show_Hidden(obj)
        {
         if(obj.style.display=="block")
         {
          obj.style.display='none';
         }
         else
         {
          obj.style.display='block';
         }
        }
        window.onload=function()
        {
         var olink1=document.getElementById("link1");
         var odiv1=document.getElementById("thediv1");
         var olink2=document.getElementById("link2");
         var odiv2=document.getElementById("thediv2");
         var olink3=document.getElementById("link3");
         var odiv3=document.getElementById("thediv3");
         var olink4=document.getElementById("link4");
         var odiv4=document.getElementById("thediv4");
         var olink5=document.getElementById("link5");
         var odiv5=document.getElementById("thediv5");
         var olink6=document.getElementById("link6");
         var odiv6=document.getElementById("thediv6");
         var olink7=document.getElementById("link7");
         var odiv7=document.getElementById("thediv7");
         var olink8=document.getElementById("link8");
         var odiv8=document.getElementById("thediv8");
         var olink9=document.getElementById("link9");
         var odiv9=document.getElementById("thediv9");
         var olink10=document.getElementById("link10");
         var odiv10=document.getElementById("thediv10");
         var odivout1=document.getElementById("divoutside1");
         var odivout2=document.getElementById("divoutside2");
         var odivout3=document.getElementById("divoutside3");
         var odivout4=document.getElementById("divoutside4");
         var odivout5=document.getElementById("divoutside5");
         var odivout6=document.getElementById("divoutside6");
         var odivout7=document.getElementById("divoutside7");
         var odivout8=document.getElementById("divoutside8");
         var odivout9=document.getElementById("divoutside9");
         var odivout10=document.getElementById("divoutside10");
         olink1.onclick=function()
         {Show_Hidden(odivout1);
          Show_Hidden(odiv1);
         }
         olink2.onclick=function()
         {Show_Hidden(odivout2);
          Show_Hidden(odiv2);
         }
         olink3.onclick=function()
         {Show_Hidden(odivout3);
          Show_Hidden(odiv3);
         }
         olink4.onclick=function()
         {Show_Hidden(odivout4);
          Show_Hidden(odiv4);
         }
         olink5.onclick=function()
         {Show_Hidden(odivout5);
          Show_Hidden(odiv5);
         }
         olink6.onclick=function()
         {Show_Hidden(odivout6);
          Show_Hidden(odiv6);
         }
         olink7.onclick=function()
         {Show_Hidden(odivout7);
          Show_Hidden(odiv7);
         }
         olink8.onclick=function()
         {Show_Hidden(odivout8);
          Show_Hidden(odiv8);
         }
         olink9.onclick=function()
         {Show_Hidden(odivout9);
          Show_Hidden(odiv9);
         }
         olink10.onclick=function()
         {Show_Hidden(odivout10);
          Show_Hidden(odiv10);
         }
        }
        </script>
    <meta charset="utf-8" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>

<body>
    <div class="loading">
        <div>
            <h2>Loading</h2>
            <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
        </div>
    </div>

    <div class="managetitlediv">
        <div class="managetitleleft">
    <h2>您現在位於：管理頁面</h2>
    <h1>歡迎！<%= level %><%= username %></h1>
        </div>
        <div class="managetitleright">
            <div class="managetilerightupperright">
    <a class="button logout" href="/logout">登出</a>
    <a class="button lodge" href="/">回到首頁</a>
            </div>
        </div>
    </div>

	<div id="content" class="managediv100_100">
	<% if (level == "學生") {%>
		<h3>This is Student page!</h3>
		<!-- 在這裡弄學生頁面 -->
	<% } else if (level == "舍監") { %>
		<h3>This is Manager page</h3>
		<!-- 在這裡弄舍監頁面 -->
        <a href="#9" id="link9" class="managepage"> 顯示\隱藏學生資料</a>
        <div id="divoutside9" claSS="managedivcenter" style="display:none">
        <div id="thediv9" class="managediv100_95" style="display:none">
        
        </div>
        </div><br>
        <a href="#10" id="link10" class="managepage">顯示\隱藏違規紀錄</a>
        <div id="divoutside10" claSS="managedivcenter" style="display:none">
        <div id="thediv10" class="managediv100_95" style="display:none">

        </div>
        </div>

	<% } else if (level == "管理員") { %>
		<h3>This is Admin page</h3>
		<!-- 在這裡弄管理員頁面 -->
        <a href="#1" id="link1" class="managepage">顯示\隱藏大樓資料</a>
        <div id="divoutside1" claSS="managedivcenter" style="display:none">
        <div id="thediv1" class="managediv100_95" style="display:none">

        </div>
        </div>
        <br>
        <a href="#2" id="link2" class="managepage">顯示\隱藏房間資料</a>
        <div id="divoutside2" claSS="managedivcenter" style="display:none">
        <div id="thediv2" class="managediv100_95" style="display:none">

        </div>
        </div><br>
        <a href="#3" id="link3" class="managepage">顯示\隱藏設備資料</a>
        <div id="divoutside3" claSS="managedivcenter" style="display:none">
        <div id="thediv3" class="managediv100_95" style="display:none">

        </div>
        </div><br>
        <a href="#4" id="link4" class="managepage">顯示\隱藏舍監資料</a>
        <div id="divoutside4" claSS="managedivcenter" style="display:none">
        <div id="thediv4" class="managediv100_95" style="display:none">

        </div>
        </div><br>
        <a href="#5" id="link5" class="managepage">顯示\隱藏學生資料</a>
        <div id="divoutside5" claSS="managedivcenter" style="display:none">
        <div id="thediv5" class="managediv100_95" style="display:none">

        </div>
        </div><br>
        <a href="#6" id="link6" class="managepage">顯示\隱藏審核申請</a>
        <div id="divoutside6" claSS="managedivcenter" style="display:none">
        <div id="thediv6" class="managediv100_95" style="display:none">

        </div>
        </div><br>
        <a href="#7" id="link7" class="managepage">顯示\隱藏繳費狀態</a>
        <div id="divoutside7" claSS="managedivcenter" style="display:none">
        <div id="thediv7" class="managediv100_95" style="display:none">

        </div>
        </div>
        <br>
        <a href="#8" id="link8" class="managepage">顯示\隱藏核可通知</a>
        <div id="divoutside8" claSS="managedivcenter" style="display:none">
        <div id="thediv8" class="managediv100_95" style="display:none">

        </div>
        </div>
	<% } else { %>
		<!-- 正常來說不會跑來這 -->
		<h3>Something went wrong!!</h3>
		<h4>You should have level!</h4>
	<% } %>
	</div>
    <br>
    <script>
        $(window).on('load', function() {
            $('.loading').hide();
        });
    </script>
</body>

</html>