@charset "UTF-8";
@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #666;
}

.alert {
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  width: 100%;
  height: 100%;
}
.alert > div {
  background-color: rgba(128, 128, 128, 0.8);
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.alert > div > h2,
.alert > div > span {
  display: block;
  text-align: center;
  padding: 10px;
  width: 100%;
}
.alert > div > h2 {
  margin: 0;
  font-size: 24px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
.alert > div > span {
  color: white;
  font-size: 18px;
}
.alert > div > div {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 0 10px 10px 10px;
}
.alert > div > div > button {
  border: solid #000 1px;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
  background-color: transparent;
  color: white;
  line-height: 24px;
}
.alert > div > div > button:hover {
  cursor: pointer;
  background-color: rgba(204, 204, 204, 0.2);
}

a.button {
  width: 50px;
  height: 75px;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  color: white;
}
a.button.logout {
  background-color: red;
}
a.button.lodge {
  background-color: green;
}
a.button.manage {
  background-color: orange;
}

a.managepage {
  width: 50px;
  height: 75px;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  line-height: 250%;
  background-color: #4285F4;
}

.loading {
  background-color: gray;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.loading > div {
  display: grid;
  justify-items: center;
  align-content: center;
}
.loading > div > h2 {
  color: white;
}
.loading > div > .spinner {
  animation: rotator 1.4s linear infinite;
}
.loading > div > .spinner > .path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

.index {
  text-align: center;
  display: flex;
  height: 100%;
  background: url("/img/index_background.png") no-repeat center center fixed;
  background-size: cover;
}
.index > .login {
  margin: auto;
  background-color: rgba(51, 51, 51, 0.5);
  width: 400px;
}
.index > .login > .header {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  padding: 10px 0;
  color: white;
}
.index > .login > .infos {
  color: white;
  margin-top: 20px;
}
.index > .login > .infos > form > .field {
  margin: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #000 1px;
  border-radius: 10px;
  background-color: rgba(51, 51, 51, 0.2);
}
.index > .login > .infos > form > .field > label {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.index > .login > .infos > form > .field > label > span {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.4);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.index > .login > .infos > form > .field > .textfield {
  margin: 0;
  height: 50px;
  border: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(51, 51, 51, 0.2);
  color: white;
  font-size: 16px;
}
.index > .login > .infos > form > .field > .textfield::placeholder {
  color: white;
}
.index > .login > .infos > form > .field > .textfield[type=password] {
  font-size: 24px;
}
.index > .login > .infos > form > .field > .textfield[type=password]::placeholder {
  font-size: 16px;
}
.index > .login > .infos > form > .btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: solid #000 1px;
  border-radius: 10px;
  background-color: rgba(51, 51, 51, 0.4);
  margin-bottom: 20px;
}
.index > .login > .infos > form > .btn > *:hover {
  cursor: pointer;
}
.index > .login > .infos > form > .btn:hover {
  cursor: pointer;
  background-color: rgba(204, 204, 204, 0.2);
}
.index > .login > .infos > form > .btn > label > span {
  padding: 10px 0 10px 10px;
}
.index > .login > .infos > form > .btn > input[type=submit] {
  font-size: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  color: white;
  line-height: 24px;
}

.managediv100_95 {
  height: 100%;
  width: 95%;
  margin: auto;
}

.managediv100_100 {
  height: 100%;
  width: 100%;
}

.managedivcenter {
  height: 75%;
  width: 100%;
  display: flex;
}

.managetitlediv {
  height: 10%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

.managetitleleft {
  width: 50%;
  top: 0;
  left: 0;
}

.managetitleright {
  position: absolute;
  width: 50%;
  top: 0;
  left: 50%;
}

.managetilerightupperright {
  position: absolute;
  right: 0;
  top: 30px;
}

.all_light { /*整个弹窗的页面*/
  opacity: 0.8; /*透明度*/
  width: 100%; /*宽度*/
  height: 2300px; /*高度，不能百分百*/
  background: #000; /*背景色*/
  position: absolute;
  top: 0;
  left: 0; /*定位*/
  display: none; /*隐藏*/
  z-index: 2; /*覆盖*/
}

.contes { /* 弹框的页面*/
  width: 500px; /*宽度*/
  height: 500px; /*高度*/
  background: #fff; /*背景色*/
  display: none; /*隐藏*/
  z-index: 2; /*覆盖*/
  position: absolute;
  top: 100px;
  left: 400px; /* 定位*/
}

input {
  margin-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
