$arrow_bg_color: #555;
$LoginTitleColor: rgba(#000, 50%);
$LoginBackgroundColor: rgba(#333, 50%);

$offset: 187;
$duration: 1.4s;

@import "../node_modules/bootstrap/scss/functions";

$body-bg: #666; // body background color
$body-color: #fff; // body text color
$font-size-base: 0.5rem;
$line-height-base: 1.25;
$nav-tabs-link-active-color: rgb(46, 197, 46);
$nav-link-color: #fff;
$link-hover-color: $nav-tabs-link-active-color;
$nav-pills-link-active-bg: rgba(0, 0, 0, 0);
$nav-pills-link-active-color: rgb(96, 247, 121);
$accordion-button-bg: rgb(86, 86, 86);
$accordion-button-active-bg: rgb(59, 59, 59);
$accordion-button-active-color: #fff;
// Include any default variable overrides here

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// Include any default map overrides here

@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/accordion";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/offcanvas";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/placeholders";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/utilities/api";

//Here override CKEditor 5 css
:root {
    /* Overrides the border radius setting in the theme. */

    /* Overrides the default font size in the theme. */
    --ck-font-size-base: 14px;

    /* Helper variables to avoid duplication in the colors. */
    --ck-custom-background: #666;
    --ck-custom-foreground: rgb(71, 71, 71);
    --ck-custom-border: #fff;
    --ck-custom-white: #666;
    --ck-color-button-default-background: #666;
    --ck-inner-shadow: 1px solid #fff;

    /* -- Overrides generic colors. ------------------------------------------------------------- */

    --ck-color-base-foreground: var(--ck-custom-background);
    --ck-color-base-background: var(--ck-custom-background);
    --ck-color-focus-border: var(--ck-custom-border);
    --ck-color-text: #fff;
    --ck-color-shadow-drop: #fff;
    --ck-color-shadow-inner: #fff;
    --ck-color-base-active: rgb(61, 61, 61);
    --ck-color-base-active-focus: rgb(79, 79, 79);

    /* -- Overrides the default .ck-button class colors. ---------------------------------------- */

    --ck-color-button-default-background: var(--ck-custom-background);
    --ck-color-button-default-hover-background: hsl(0, 0%, 26%);
    --ck-color-button-default-active-background: hsl(0, 0%, 25%);
    --ck-color-button-default-active-shadow: hsl(0, 0%, 30%);
    --ck-color-button-default-disabled-background: var(--ck-custom-background);

    --ck-color-button-on-background: var(--ck-custom-foreground);
    --ck-color-button-on-color: #fff;
    --ck-color-button-on-hover-background: hsl(255, 4%, 16%);
    --ck-color-button-on-active-background: hsl(255, 4%, 14%);
    --ck-color-button-on-active-shadow: hsl(240, 3%, 19%);
    --ck-color-button-on-disabled-background: var(--ck-custom-foreground);

    --ck-color-button-action-background: hsl(168, 76%, 42%);
    --ck-color-button-action-hover-background: hsl(168, 76%, 38%);
    --ck-color-button-action-active-background: hsl(168, 76%, 36%);
    --ck-color-button-action-active-shadow: hsl(168, 75%, 34%);
    --ck-color-button-action-disabled-background: hsl(168, 76%, 42%);
    --ck-color-button-action-text: var(--ck-custom-white);

    --ck-color-button-save: hsl(120, 100%, 46%);
    --ck-color-button-cancel: hsl(15, 100%, 56%);

    /* -- Overrides the default .ck-dropdown class colors. -------------------------------------- */

    --ck-color-dropdown-panel-background: var(--ck-custom-background);
    --ck-color-dropdown-panel-border: var(--ck-custom-foreground);

    /* -- Overrides the default .ck-splitbutton class colors. ----------------------------------- */

    --ck-color-split-button-hover-background: var(--ck-color-button-default-hover-background);
    --ck-color-split-button-hover-border: var(--ck-custom-foreground);

    /* -- Overrides the default .ck-input class colors. ----------------------------------------- */

    --ck-color-input-background: var(--ck-custom-background);
    --ck-color-input-border: hsl(257, 3%, 43%);
    --ck-color-input-text: hsl(0, 0%, 98%);
    --ck-color-input-disabled-background: hsl(255, 4%, 21%);
    --ck-color-input-disabled-border: hsl(250, 3%, 38%);
    --ck-color-input-disabled-text: hsl(0, 0%, 78%);

    /* -- Overrides the default .ck-labeled-field-view class colors. ---------------------------- */

    --ck-color-labeled-field-label-background: var(--ck-custom-background);

    /* -- Overrides the default .ck-list class colors. ------------------------------------------ */

    --ck-color-list-background: var(--ck-custom-background);
    --ck-color-list-button-hover-background: var(--ck-color-base-foreground);
    --ck-color-list-button-on-background: var(--ck-color-base-active);
    --ck-color-list-button-on-background-focus: var(--ck-color-base-active-focus);
    --ck-color-list-button-on-text: #fff;

    /* -- Overrides the default .ck-balloon-panel class colors. --------------------------------- */

    --ck-color-panel-background: var(--ck-custom-background);
    --ck-color-panel-border: var(--ck-custom-border);

    /* -- Overrides the default .ck-toolbar class colors. --------------------------------------- */

    --ck-color-toolbar-background: var(--ck-custom-background);
    --ck-color-toolbar-border: var(--ck-custom-border);

    /* -- Overrides the default .ck-tooltip class colors. --------------------------------------- */

    --ck-color-tooltip-background: hsl(252, 7%, 14%);
    --ck-color-tooltip-text: hsl(0, 0%, 93%);

    /* -- Overrides the default colors used by the ckeditor5-image package. --------------------- */

    --ck-color-image-caption-background: hsl(0, 0%, 97%);
    --ck-color-image-caption-text: hsl(0, 0%, 20%);

    /* -- Overrides the default colors used by the ckeditor5-widget package. -------------------- */

    --ck-color-widget-blurred-border: hsl(0, 0%, 87%);
    --ck-color-widget-hover-border: hsl(43, 100%, 68%);
    --ck-color-widget-editable-focus-background: var(--ck-custom-white);

    /* -- Overrides the default colors used by the ckeditor5-link package. ---------------------- */

    --ck-color-link-default: hsl(190, 100%, 75%);
}

/*
    Loading animation
*/
@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

@keyframes colors {
    0% {
        stroke: #4285F4;
    }

    25% {
        stroke: #DE3E35;
    }

    50% {
        stroke: #F7C223;
    }

    75% {
        stroke: #1B9A59;
    }

    100% {
        stroke: #4285F4;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: $offset;
    }

    50% {
        stroke-dashoffset: calc($offset/4);
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: $offset;
        transform: rotate(450deg);
    }
}

/*
    Loading animation done
*/


/*
    Loading
*/
.loading {
    background-color: rgba(87, 87, 87, 0.652);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 99999;
    position: fixed;

    >div {
        display: grid;
        justify-items: center;
        align-content: center;

        >h2 {
            color: white;
        }

        >.spinner {
            animation: rotator $duration linear infinite;

            >.path {
                stroke-dasharray: $offset;
                stroke-dashoffset: 0;
                transform-origin: center;
                animation:
                    dash $duration ease-in-out infinite,
                    colors ($duration*4) ease-in-out infinite;
            }
        }
    }
}

/*
    Loading done
*/

/*
    Global
*/

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.accordion{
    >div:last-child{
        border-bottom-left-radius: 5px!important;
        border-bottom-right-radius: 5px!important;
        >h2{
            >button{
                border-bottom-left-radius: 5px!important;
                border-bottom-right-radius: 5px!important;
            }
        }
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hidescrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidescrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

// Alert popup for all pages
.alert {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: rgba(#000, 50%);
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 999;

    >div {
        background-color: rgba(gray, 80%);
        min-width: 300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        >h2,
        >span {
            display: block;
            text-align: center;
            padding: 10px;
            width: 100%;
        }

        >h2 {
            margin: 0;
            font-size: 24px;
            color: white;
            background-color: rgba(#000, 50%);
        }

        >span {
            color: white;
            font-size: 18px;
        }

        >div {
            background-color: rgba(#000, 20%);
            border-radius: 10px;
            margin: 0 10px 10px 10px;

            >button {
                border: solid #000 1px;
                border-radius: 10px;
                font-size: 20px;
                padding: 10px;
                background-color: transparent;
                color: white;
                line-height: 24px;

                &:hover {
                    cursor: pointer;
                    background-color: lighten(rgba($LoginBackgroundColor, 20%), 60%);
                }
            }
        }
    }
}

p {
    margin-bottom: 0;
}

/*
    Global done
*/

/*
    header animation
*/
@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @-o-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

@include keyframes(success-slideup) {
    margin-left: -14px;

    0% {
        top: 50px;
    }

    100% {
        top: 0px;
    }
}

@include keyframes(success-slidedown) {
    0% {
        top: -50px;
    }

    100% {
        top: 100px;
    }
}

@include keyframes(areas) {
    100% {
        margin-left: -20px;
    }
}

.rainbow {
    background-image: repeating-linear-gradient(90deg, violet, indigo, blue, green, yellow, orange, red, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 2s linear infinite alternate;
    background-size: 1000% 1000%;
}

.Q {
    width: auto;
    height: 50px;
}

.left_green {
    background-image:
        repeating-linear-gradient(45deg,
            green,
            green 10px,
            $arrow_bg_color 10px,
            $arrow_bg_color 20px);
}

.right_green {
    background-image:
        repeating-linear-gradient(-45deg,
            green,
            green 10px,
            $arrow_bg_color 10px,
            $arrow_bg_color 20px
            /* determines size */
        );
}

#success-up {
    animation: success-slideup 1s 1;
    animation-fill-mode: forwards;
    top: 50px;
}

#success-down {
    animation: success-slidedown 1s 1;
    animation-fill-mode: forwards;
    top: -50px;
}

.header_title {
    font-size: 40px;
    line-height: 30px;
    padding: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.area {
    animation: areas 1s Linear infinite;
    animation-fill-mode: forwards;
    width: 20000px;
    height: 1000px;
    margin-left: -133px;
}

.areabox {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
}

/*
    header animation done
*/

// navbar
.navBar {
    margin: 5px 0;
}

.button {
    border-radius: 10px;
    margin: 0 10px 0 0;
    width: auto;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    &.logout {
        background-color: #DE3E35;
        &:hover{
            background-color: #b72d26;
        }
    }

    &.lodge {
        background-color: #1B9A59;
        &:hover{
            background-color: #136239;
        }
    }

    &.manage {
        background-color: #F78000;
        &:hover{
            background-color: #9a560d;
        }
    }

    &.edit {
        background-color: #F78000;
        &:hover{
            background-color: #9a560d;
        }
    }

    &.save {
        background-color: #30f08d;
        &:hover{
            background-color: #1ea760;
        }
    }

    &:last-child {
        margin-right: 0;
    }
}

button.button {
    border: 0;
    display: inline-flex;
    align-items: center;
}

// navbar done

/*
    index
*/

.index {
    text-align: center;
    display: flex;
    height: 100%;
    background: url("/img/index_background.png") no-repeat center center fixed;
    background-size: cover;

    >.login {
        margin: auto;
        background-color: $LoginBackgroundColor;
        width: 400px;


        >.header {
            background-color: $LoginTitleColor;
            font-size: 24px;
            padding: 10px 0;
            color: white;
        }

        >.infos {
            color: white;
            margin-top: 20px;

            >form {
                >.field {
                    margin: 10px 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: solid #000 1px;
                    border-radius: 10px;
                    background-color: rgba($LoginBackgroundColor, 20%);

                    >label {
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;

                        >span {
                            width: 50px;
                            height: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: rgba($LoginBackgroundColor, 40%);
                            border-top-left-radius: 10px;
                            border-bottom-left-radius: 10px;
                        }
                    }

                    >.textfield {
                        margin: 0;
                        height: 50px;
                        border: 0;
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                        padding: 0;
                        width: 100%;
                        text-align: center;
                        background-color: rgba($LoginBackgroundColor, 20%);
                        color: white;
                        font-size: 16px;

                        &::placeholder {
                            color: white;
                        }

                        &[type="password"] {
                            font-size: 24px;

                            &::placeholder {
                                font-size: 16px;
                            }
                        }
                    }
                }

                >.btn {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    border: solid #000 1px;
                    border-radius: 10px;
                    background-color: rgba($LoginBackgroundColor, 40%);
                    margin-bottom: 20px;

                    >*:hover {
                        cursor: pointer;
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: lighten(rgba($LoginBackgroundColor, 20%), 60%);
                    }

                    >label {
                        >span {
                            padding: 10px 0 10px 10px;
                        }
                    }

                    >input[type="submit"] {
                        font-size: 20px;
                        padding: 10px;
                        background-color: #ffffff00;
                        border: 0;
                        color: white;
                        line-height: 24px;
                        margin: 0;
                    }
                }
            }
        }
    }
}

/*
    index done
*/


/*
    Manage
*/

/*
    Manage done
*/

/*
    Home
*/

#comments {
    >.commentList {
        padding: 0 !important;
        margin: -1px;
        width: unset;

        >div {
            margin: 0 -1px;
            width: unset;

            >span {
                white-space: break-spaces;
                overflow-wrap: anywhere;
            }

            >* {
                border-radius: 0;
            }

        }
    }

    >:last-child {
        &.commentList {
            >div {
                &:first-child {
                    >* {
                        &:first-child {
                            border-bottom-left-radius: 10px;
                        }

                        &:last-child {
                            border-bottom-right-radius: 10px;
                        }
                    }
                }
            }

        }
    }
}

/*
    Home done
*/

/*
    Lodge
*/

/*
    Lodge done
*/