$arrow_bg_color: #555;
$LoginTitleColor: rgba(#000, 50%);
$LoginBackgroundColor: rgba(#333, 50%);

$offset: 187;
$duration: 1.4s;
@import "../node_modules/bootstrap/scss/functions";

$body-bg: #666; // body background color
$body-color: #fff; // body text color
$font-size-base: 0.5rem;
$line-height-base: 1.25;

// Include any default variable overrides here

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// Include any default map overrides here

@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/accordion";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/offcanvas";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/placeholders";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/utilities/api";

/*
    Loading animation
*/
@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

@keyframes colors {
    0% {
        stroke: #4285F4;
    }

    25% {
        stroke: #DE3E35;
    }

    50% {
        stroke: #F7C223;
    }

    75% {
        stroke: #1B9A59;
    }

    100% {
        stroke: #4285F4;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: $offset;
    }

    50% {
        stroke-dashoffset: calc($offset/4);
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: $offset;
        transform: rotate(450deg);
    }
}

/*
    Loading animation done
*/


/*
    Loading
*/
.loading {
    background-color: gray;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    >div {
        display: grid;
        justify-items: center;
        align-content: center;

        >h2 {
            color: white;
        }

        >.spinner {
            animation: rotator $duration linear infinite;

            >.path {
                stroke-dasharray: $offset;
                stroke-dashoffset: 0;
                transform-origin: center;
                animation:
                    dash $duration ease-in-out infinite,
                    colors ($duration*4) ease-in-out infinite;
            }
        }
    }
}

/*
    Loading done
*/

/*
    Global
*/

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

// Alert popup for all pages
.alert {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: rgba(#000, 50%);
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 999;

    >div {
        background-color: rgba(gray, 80%);
        min-width: 300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        >h2,
        >span {
            display: block;
            text-align: center;
            padding: 10px;
            width: 100%;
        }

        >h2 {
            margin: 0;
            font-size: 24px;
            color: white;
            background-color: rgba(#000, 50%);
        }

        >span {
            color: white;
            font-size: 18px;
        }

        >div {
            background-color: rgba(#000, 20%);
            border-radius: 10px;
            margin: 0 10px 10px 10px;

            >button {
                border: solid #000 1px;
                border-radius: 10px;
                font-size: 20px;
                padding: 10px;
                background-color: transparent;
                color: white;
                line-height: 24px;

                &:hover {
                    cursor: pointer;
                    background-color: lighten(rgba($LoginBackgroundColor, 20%), 60%);
                }
            }
        }
    }
}

/*
    Global done
*/

/*
    header animation
*/
@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @-o-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

@include keyframes(success-slideup) {
    margin-left: -14px;

    0% {
        top: 50px;
    }

    100% {
        top: 0px;
    }
}

@include keyframes(success-slidedown) {
    0% {
        top: -50px;
    }

    100% {
        top: 100px;
    }
}

@include keyframes(areas) {
    100% {
        margin-left: -20px;
    }
}

.rainbow {
    background-image: repeating-linear-gradient(90deg, violet, indigo, blue, green, yellow, orange, red, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 2s linear infinite alternate;
    background-size: 1000% 1000%;
}

.Q {
    width: auto;
    height: 50px;
}

.left_green {
    background-image:
        repeating-linear-gradient(45deg,
            green,
            green 10px,
            $arrow_bg_color 10px,
            $arrow_bg_color 20px);
}

.right_green {
    background-image:
        repeating-linear-gradient(-45deg,
            green,
            green 10px,
            $arrow_bg_color 10px,
            $arrow_bg_color 20px
            /* determines size */
        );
}

#success-up {
    animation: success-slideup 1s 1;
    animation-fill-mode: forwards;
    top: 50px;
}

#success-down {
    animation: success-slidedown 1s 1;
    animation-fill-mode: forwards;
    top: -50px;
}

.header_title {
    font-size: 40px;
    line-height: 30px;
    padding: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.area {
    animation: areas 1s Linear infinite;
    animation-fill-mode: forwards;
    width: 20000px;
    height: 1000px;
    margin-left: -133px;
}

.areabox {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
}

/*
    header animation done
*/

// navbar
.navBar {
    margin: 5px 0;
}

.button {
    border-radius: 10%;
    margin: 0 10px 0 0;
    width: auto;
    line-height: 40px;
    height: 40px;
    padding: 10px 15px;
    text-decoration: none;
    color: white;

    &.logout {
        background-color: #DE3E35;
    }

    &.lodge {
        background-color: #1B9A59;
    }

    &.manage {
        background-color: #F78000;
    }

    &:last-child {
        margin-right: 0;
    }
}

// navbar done

/*
    index
*/

.index {
    text-align: center;
    display: flex;
    height: 100%;
    background: url("/img/index_background.png") no-repeat center center fixed;
    background-size: cover;

    >.login {
        margin: auto;
        background-color: $LoginBackgroundColor;
        width: 400px;


        >.header {
            background-color: $LoginTitleColor;
            font-size: 24px;
            padding: 10px 0;
            color: white;
        }

        >.infos {
            color: white;
            margin-top: 20px;

            >form {
                >.field {
                    margin: 10px 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: solid #000 1px;
                    border-radius: 10px;
                    background-color: rgba($LoginBackgroundColor, 20%);

                    >label {
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;

                        >span {
                            width: 50px;
                            height: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: rgba($LoginBackgroundColor, 40%);
                            border-top-left-radius: 10px;
                            border-bottom-left-radius: 10px;
                        }
                    }

                    >.textfield {
                        margin: 0;
                        height: 50px;
                        border: 0;
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                        padding: 0;
                        width: 100%;
                        text-align: center;
                        background-color: rgba($LoginBackgroundColor, 20%);
                        color: white;
                        font-size: 16px;

                        &::placeholder {
                            color: white;
                        }

                        &[type="password"] {
                            font-size: 24px;

                            &::placeholder {
                                font-size: 16px;
                            }
                        }
                    }
                }

                >.btn {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    border: solid #000 1px;
                    border-radius: 10px;
                    background-color: rgba($LoginBackgroundColor, 40%);
                    margin-bottom: 20px;

                    >*:hover {
                        cursor: pointer;
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: lighten(rgba($LoginBackgroundColor, 20%), 60%);
                    }

                    >label {
                        >span {
                            padding: 10px 0 10px 10px;
                        }
                    }

                    >input[type="submit"] {
                        font-size: 20px;
                        padding: 10px;
                        background-color: #ffffff00;
                        border: 0;
                        color: white;
                        line-height: 24px;
                        margin: 0;
                    }
                }
            }
        }
    }
}

/*
    index done
*/


/*
    Manage
*/

.managediv100_95 {
    height: 100%;
    width: 95%;
    margin: auto;
}

.managediv100_100 {
    height: 100%;
    width: 100%;
}

.managedivcenter {
    height: 75%;
    width: 100%;
    display: flex;
}

.managetitlediv {
    height: 10%;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

.managetitleleft {
    width: 50%;
    top: 0;
    left: 0;
}

.managetitleright {
    position: absolute;
    width: 50%;
    top: 0;
    left: 50%;
}

.managetilerightupperright {
    position: absolute;
    right: 0;
    top: 30px;
}


.all_light {
    /*整个弹窗的页面*/
    opacity: 0.8;
    /*透明度*/
    width: 100%;
    /*宽度*/
    height: 2300px;
    /*高度，不能百分百*/
    background: #000;
    /*背景色*/
    position: absolute;
    top: 0;
    left: 0;
    /*定位*/
    display: none;
    /*隐藏*/
    z-index: 2;
    /*覆盖*/
}

.contes {
    /* 弹框的页面*/
    width: 500px;
    /*宽度*/
    height: 500px;
    /*高度*/
    background: #fff;
    /*背景色*/
    display: none;
    /*隐藏*/
    z-index: 2;
    /*覆盖*/
    position: absolute;
    top: 100px;
    left: 400px;
    /* 定位*/
}


a.managepage {
    width: 50px;
    height: 75px;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    line-height: 250%;
    background-color: #4285F4;
    //background-color:rgb(213, 171, 52);
}

/*
    Manage done
*/

/*
    Home done
*/

/*
    Home done
*/

/*
    Lodge done
*/

/*
    Lodge done
*/